spring:
  datasource:
    url: jdbc:mysql://localhost:3306/teamtrack?useSSL=false&serverTimezone=UTC
    username: root
    password: 

  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: update
      show-sql: true
      format-sql: true
      type: info
      use-sql-comments: true
      properties:
        hibernate.use_sql_comments: true
        hibernate.format_sql: true

springdoc:
  show-actuator: true
  paths-to-match: /**
  packages-to-scan: com.teamtrack.boilerplate.springboot

management:
  endpoint:
    health:
      show-details: ALWAYS
    endpoints:
      web:
        exposure:
          include: "*"

logging:
  level:
    org.springframework: INFO
    com.teamtrack.boilerplate.springboot: INFO

## FIXME : Customize JWT token and Swagger information for your application

jwt:
  secretKey: secret
  issuer: teamtrack
  expirationMinute: 10

swagger:
  contact-name: TeamTrack
  contact-mail: contact@teamtrack.local
  contact-url: https://teamtrack.local
  app-name: TeamTrack API Documentation
  app-description: "TeamTrack API Documentation"
  app-version: 2.0.0
  app-license-url: https://www.apache.org/licenses/LICENSE-2.0.html
  app-license: Apache 2.0
